h1 {
  color: red;
}


.img-box{
  display:inline-block;
  text-align: center;
  margin-bottom:20px;
}

.chose-img{
  letter-spacing: -0.5em;
}
.chose_ms1, .chose_ms2, .chose_ms3, .chose_ms4, .chose_ms5, .chose_ms6, .chose_ms7, .chose_ms8, .chose_ms9, .chose_ps1, .chose_ps2, .chose_ps3, .chose_ps4, .chose_ps5, .chose_ps6, .chose_ps7, .chose_ps8, .chose_ps9, .chose_ss1, .chose_ss2, .chose_ss3, .chose_ss4, .chose_ss5, .chose_ss6, .chose_ss7, .chose_ss8, .chose_ss9, .chose_ji_e, .chose_ji_s, .chose_ji_w, .chose_ji_n, .chose_ji_no, .chose_ji_h, .chose_ji_c{
  margin:0;

}

.img_ms1, .img_ms2, .img_ms3, .img_ms4, .img_ms5, .img_ms6, .img_ms7, .img_ms8, .img_ms9, .img_ps1, .img_ps2, .img_ps3, .img_ps4, .img_ps5, .img_ps6, .img_ps7, .img_ps8, .img_ps9, .img_ss1, .img_ss2, .img_ss3, .img_ss4, .img_ss5, .img_ss6, .img_ss7, .img_ss8, .img_ss9, .img_ji1, .img_ji2, .img_ji3, .img_ji4, .img_ji5, .img_ji6, .img_ji7 {
  display:none;
}

.ihan, .ryanhan, .sanhan, .mangan, .mangan, .haneman, .baiman, .sanbaiman, .yakuman{
  font-size:32px;
  display:none;
}

.raisingsun, .tenho, .chiho, .renho, .churen, .zyunseichuren, .sukantsu, .nagashimangan, .tsumo, .boo{
  display:none;
}
